<div class="modal fade in" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bilancio</h4>
            </div>
            <div class="modal-body">
                <form id="newitemform" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="databilancio" class="control-label">Data</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="databilancio" class="input-sm form-control" [(ngModel)]="portfolio.dataBilancio">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="investito" class="control-label">Investito</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="investito" class="input-sm form-control" [(ngModel)]="portfolio.totaleInvestito">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="cash" class="control-label">Cash</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="cash" class="input-sm form-control" [(ngModel)]="portfolio.cash">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="minusvalenze" class="control-label">Minusvalenze</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="minusvalenze" class="input-sm form-control" [(ngModel)]="portfolio.minusvalenze">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" value="Salva" (click)="save()">
                <a class="btn" (click)="hide()">Annulla</a>
            </div>
        </div>
    </div>
</div>
