<div class="modal fade in" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close">×</a>
                <h4 class="modal-title">Aggiungi nuovo titolo</h4>
            </div>
            <div class="modal-body">
                <form id="newitemform" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="data" class="control-label">Data</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="data" class="input-sm form-control" [(ngModel)]="item.data">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="ticker" class="control-label">Ticker</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" #ticker name="ticker" class="input-sm form-control" [(ngModel)]="item.ticker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="prezzo" class="control-label">Prezzo</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="prezzo" class="input-sm form-control" [(ngModel)]="item.prezzoAcquisto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="quantita" class="control-label">Quantit&agrave;</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="quantita" class="input-sm form-control" [(ngModel)]="item.quantita">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" value="Salva" (click)="save()">
                <a class="btn" (click)="hide()">Annulla</a>
            </div>
        </div>
    </div>
</div>
